<h1> New School Class </h1>

<% form_for(@school_class) each do |f|%>

<%= f.label :title, "Title:" %>
<%= f.text_field :title %>

<%= f.label :room_number, "Room Number:" %>
<%= f.number_field :room_number %>

<%= f.submit %>

<% end %>
